.root {
    background-color: var(--color-white-100);
    border-radius: 6px;
    padding: 10px 10px 20px 10px;
}

.orange {
    border-bottom:  10px solid var(--color-orange-100);
}

.blue {
    border-bottom:  10px solid var(--color-blue-100);
}

.green {
    border-bottom:  10px solid var(--color-green-100);
}