@import '../../styles/layout.scss';

.root {
    position: relative;
    width: 100%;
   
    @media ($media_mobile) {
        height: auto;
     }
}
.bg {
    position: absolute;
    z-index: $zBelow;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

     @media ($media_mobile) {
        display: none;
     }
   //background-image: url('https://images.unsplash.com/photo-1530686577637-0ccce382b327?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2434&q=80');
   // box-shadow: inset 19px 19px 194px 145px rgba(0,0,0,0.9);
   
}
.img {
    display: none;

     @media ($media_mobile) {
        display: block;
     }
}
.content {
    padding: 60px 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media ($media_mobile) {
         padding: 20px 0 0;
         gap: 10px;
     }
}
.title {
    line-height: 120%;
    @media ($media_mobile) {
        text-align: center;
    }
}
.discription {
     @media ($media_mobile) {
        text-align: center;
    }
}
.text {
    @media ($media_mobile) {
        text-align: center;
    }
 
}
.button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    
    @media ($media_mobile) {
        margin-top: 0;
    }
}