@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-white-100);
  color: var(--color-main-100);
  font-family: var(--main-font);
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: var(--base-line-height);
  overscroll-behavior: none;

}

a {
  cursor: pointer;
  text-decoration: none;
}

button,
input {
  outline: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

h1,
p {
  cursor: default;
}

.yellow {
  color: var(--color-yellow-100);
}

.pink {
  color: var(--color-pink-100);
}

.white {
  color: var(--color-white-100);
}
.link {
  color: inherit;
}
