@import '../../../styles/layout.scss';

.text-l {
    font-size: 42px;
    line-height: 100%;

    @media ($media_tablet) {
        font-size: 40px;
    }
    @media ($media_mobile) {
        font-size: 36px;
    }
}
.text-m {
    font-size: 36px;
    line-height: 120%;

    @media ($media_tablet) {
        font-size: 24px;
    }

    @media ($media_mobile) {
        font-size: 16px;
    }

}
.text-s {
    font-size: 18px;
    line-height: 120%;

    @media ($media_tablet) {
        font-size: 16px;
    }

}
.text-xs {
    font-size: 12px;
    line-height: 120%;

    @media ($media_tablet) {
        font-size: 12px;
    }

    @media ($media_mobile) {
        font-size: 12px;
    }

}

.regular {
    font-weight: 400;
}

.semibold {
    font-weight: 700;
}
.bold {
    font-weight: 900;
}
.orange {
    color: var(--color-orange-100);
}
.blue {
    color: var(--color-blue-100);
}
.green {
    color: var(--color-green-100);
}
.white {
    color: var(--color-white-100);
}
.main {
    color: var(--color-main-100);
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}