@import '../../styles/layout.scss';

.root {
    position: fixed;
    top: -100%;
    right: 0;
    left: 0;
    padding: 10px 25px;
    background-color: rgb(247,254,255);
    z-index: $zAbove + 1;
    transition: top 0.5s ease-in-out;
}
.title {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: -.4px;
    text-align: center;
    margin-bottom: 10px;
}

.active {
    top: 0;
}
.button {
    margin: 0 auto;
    width: 300px;
    
    @media ($media_mobile) {
        width: 100%;
    }
}