
.root {
    position: relative;
    width: 100vw;
    left:  -25px;
    background-color: rgb(9,63,70);
    padding: 30px;
}

.content {
    max-width: 80%;
    background-color: var(--color-white-100) ;
    border-radius: 8px;
    margin: 0 auto;
    padding: 20px 25px;
}
.title {
    line-height: 125%;
    margin-bottom: 10px;
}
.button {
    margin-top: 20px;
    .text {
        margin-bottom: 10px;
    }
}