@import '../../styles/layout.scss';
.root {

}

.title {
    text-align: center;
    margin-bottom: 40px;

    @media ($media_mobile) {
        margin-bottom: 20px;  
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;

    @media ($media_mobile) {
        gap: 20px;
     }
}

.item {
    height: 34px;
}

.img {
    height: 100%;
    max-width:  100%;
}