@import '../../styles/layout.scss';

.root {
    display: flex;
     @media ($media_mobile) {
        flex-wrap: wrap;
        gap: 20px;
     }
}

.item {
    flex: 1 1 25%;
    padding: 20px;

    @media ($media_mobile) {
        flex: 1 1 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.icon {
    width: 38px;
    height: 38px;
    margin-bottom: 25px;

     @media ($media_mobile) {
        margin-bottom: 0;
        margin-right: 15px;
     }
}