@import '../../../styles/layout.scss';

.button {
    width: 190px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    transition: all ease-in-out .3s;

    &__classic {
        background: var(--color-blue-gradient);
        color: var(--color-black-100);
    }
    &__outline {
        background-color: transparent;
        border: 2px solid var(--color-yellow-100);
        color: var(--color-yellow-100);
    }
    &__transparent {
        background-color: transparent;
        color: var(--color-yellow-100);
        width: fit-content;
    }

    &:hover {
        cursor: pointer;
        opacity: .6;
    }

    @media ($media_tablet) { 
        font-size: 16px;
        height: 50px;
        width: 100%;
    }
   
}