@import '../../styles/layout.scss';
.root {
    background-color: var(--color-bg-100);
    padding: 60px 20px 40px;
}

.item {
    max-width: 950px;
    margin: 0 auto;
    padding: 14px 18px;
    border-radius: 6px;

    &:not(:last-child) {
        margin-bottom: 40px;
        @media ($media_mobile) {
            margin-bottom: 25px;
        }
    }

    &__quotes {
        margin-bottom: 20px;
    }

    &__text {
        line-height: 160%;
        margin-bottom: 40px;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 15px;
        


        .name {

        }

        .earn {

        }
        .time {
            font-weight: 400;
        }
    }
}